<section>
    <div class="titre">
<p>
    Les Offres de Resto Job
</p>
    </div>
    <div class="cadre"></div>
 <div class="c">
  <div class="packs">
    <div class="card">
        <div class="title">
         <div class="dur">
           <p >1 moins</p>
         </div>
        
        </div>
        <div class="prix">
      <p><span>50DT</span> <span class="s">utilisation</span></p>
        </div>
        <div class="btn">
            <button >Achetez maintenaint</button>
        </div>
    </div>
    <div class="card">
        <div class="title">
         <div class="dur">
           <p >3 moins</p>
         </div>
        
        </div>
        <div class="prix">
      <p><span>120DT</span> <span class="s">utilisation</span></p>
        </div>
        <div class="btn">
            <button >Achetez maintenaint</button>
        </div>
    </div>
    <div class="card">
        <div class="title">
         <div class="dur">
           <p >9 moins</p>
         </div>
        
        </div>
        <div class="prix">
      <p><span>300DT</span> <span class="s">utilisation</span></p>
        </div>
        <div class="btn">
            <button >Achetez maintenaint</button>
        </div>
    </div>
    <div class="card">
        <div class="title">
         <div class="dur">
           <p >1 ans</p>
         </div>
        
        </div>
        <div class="prix">
      <p><span>400DT</span> <span  class="m">moins gratuit</span></p>
        </div>
        <div class="btn">
            <button  ><a href="/loginpatron">Achetez maintenaint</a></button>
          
        </div>
    </div>
</div>
 </div>
</section>
<app-footer></app-footer>