<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<footer class="footer">
   <div class="mail">
    <div class="ico">
        <i class="fa-solid fa-envelope"></i>
        </div>
<p>
    mehriadem309@gmail.com
</p>
   </div>
   <div class="mail">
    <div class="ico">
        <i class="fa-solid fa-phone"></i>
    </div>
<p>
    +216 71 475 585
</p>
   </div>
    <div class="icon">
        <a href="#service"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#project"><i class="fa-brands fa-facebook"></i></a>
        <a href="#contact"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p class="f">Copyrights @<span>Adem Mehri</span></p>
     </footer>
