@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:ital,wght@1,200&family=Rubik&display=swap');
section{
    height: 100%;
    width: 100%;
 
}
.titre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.donee{
    display: flex;
    align-items: center;
    justify-content: center;

}
.donne p{
    font-weight: 500;
}
.p2{
    height: 100%;
    width: 100%;
}
.circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.circle{
    background-color: #f0f0f0;
    width: 140px;
    height: 140px;
    border-radius: 50%;
border: #3a6cf4 1px solid;
margin: 20px;
}
.upload{
    color: #3a6cf4;
    margin-top: 40px;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 500;
   
    display: inline-block;
}
.head{
    display: flex;
    
}
.form{
    width: 40%;
    min-height: 90vh;
    box-shadow: 0 0 10px rgba(1, 1,1, 15%);
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}
.p2{
    min-height: 100vh;
    width: 100%;
    display: flex;
align-items: center;
    justify-content:center;
    background-color: rgba(206, 205, 205, 0.15);
}
.nom{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}
.mail{
    font-weight: 100;
    color: #000;
    font-size: 20px;
}
.region label{
    color: #000;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.cont{
    padding-left: 30px;
}
.cont input{
    width: 90%;
    height: 40px;
    padding: 10px;
border: 1px solid #f8f8f2;
    border-radius: 5px ;
    background-color: #f1f1ec;
}
.cont select{
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #f8f8f2;
    border-radius: 5px ;
    background-color: #f1f1ec;
}
.cont textarea{
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid #f8f8f2;
    border-radius: 5px ;
    background-color: #f1f1ec;

}
.rad{
    padding-left: 30px;
    margin-bottom: 10px;
    height: 40px;
}
.rad input{
 
    font-size: 20px;
}
span{
    padding-left: 5px;
    font-size: 17px;
}
.btn{
 padding-left: 30px;
}
.btn button{
    border: none;
    background-color: #3a6cf4;
    color: #f8f8f2;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.m{
    color: red;
    padding-left: 30px;
}
.form-control{
    width: 90%;
    background-color: #f1f1ec;
}
.mb-3{
    padding-left: 30px;
}
.form-label{
    color: #000;
    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
@media screen and (max-width:680px) {
    section{
        height: 100%;
        width: 100%;
     
    }
    .titre{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .donee{
        display: flex;
        align-items: center;
        justify-content: center;
    padding: 20px;
    }
    .donne p{
        font-weight: 500;
    }
    .p2{
        height: 100%;
        width: 100%;
    }
    .circle img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .circle{
        background-color: #f0f0f0;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    border: #3a6cf4 1px solid;
    margin: 20px;
    }
    .upload{
        color: #3a6cf4;
        margin-top: 40px;
    
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 1em;
        font-weight: 500;
       
        display: inline-block;
    }
    .head{
        display: flex;
        
    }
    .form{
        width: 96%;
        min-height: 90vh;
        box-shadow: 0 0 10px rgba(1, 1,1, 15%);
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        margin-right: 5px;

    }
    .p2{
        margin: 10px;
        min-height: 100vh;
        width: 100%;
        display: flex;
    justify-content: left;
        background-color: rgba(206, 205, 205, 0.15);

    }
    .nom{
        color: #000;
        font-weight: 500;
        font-size: 20px;
    }
    .mail{
        font-weight: 100;
        color: #000;
        font-size: 20px;
    }
    .region label{
        color: #000;
        font-weight: 500;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .cont{
        padding-left: 30px;
    }
    .cont input{
        width: 90%;
        height: 40px;
        padding: 10px;
    border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    }
    .cont select{
        width: 90%;
        height: 40px;
        padding: 10px;
        border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    }
    .cont textarea{
        width: 90%;
        height: 80px;
        padding: 10px;
        border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    
    }
    .rad{
        padding-left: 30px;
        margin-bottom: 10px;
        height: 40px;
    }
    .rad input{
     
        font-size: 20px;
    }
    span{
        padding-left: 5px;
        font-size: 17px;
    }
    .btn{
        margin-left: 20px;
        margin-bottom: 60px;
    }
    .btn button{
        border: none;
        background-color: #3a6cf4;
        color: #f8f8f2;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
    }
    .m{
        color: red;
        padding-left: 30px;
    }
    .form-control{
        width: 90%;
        background-color: #f1f1ec;
    }
    .mb-3{
        padding-left: 30px;
    }
    .form-label{
        color: #000;
        font-weight: 500;
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

}
@media screen and (min-width:679px) and (max-width:960px) {
    section{
        height: 100%;
        width: 100%;
     
    }
    .titre{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .donee{
        display: flex;
        align-items: center;
        justify-content: center;
    padding: 20px;
    }
    .donne p{
        font-weight: 500;
    }
    .p2{
        height: 100%;
        width: 100%;
    }
    .circle img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .circle{
        background-color: #f0f0f0;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    border: #3a6cf4 1px solid;
    margin: 20px;
    }
    .upload{
        color: #3a6cf4;
        margin-top: 40px;
    
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 1em;
        font-weight: 500;
       
        display: inline-block;
    }
    .head{
        display: flex;
        
    }
    .form{
        width: 96%;
        min-height: 90vh;
        box-shadow: 0 0 10px rgba(1, 1,1, 15%);
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: white;

    }
    .p2{
        margin: 10px;
        min-height: 100vh;
        width: 100%;
        display: flex;
    justify-content: left;
        background-color: rgba(206, 205, 205, 0.15);
    }
    .nom{
        color: #000;
        font-weight: 500;
        font-size: 20px;
    }
    .mail{
        font-weight: 100;
        color: #000;
        font-size: 20px;
    }
    .region label{
        color: #000;
        font-weight: 500;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .cont{
        padding-left: 30px;
    }
    .cont input{
        width: 90%;
        height: 40px;
        padding: 10px;
    border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    }
    .cont select{
        width: 90%;
        height: 40px;
        padding: 10px;
        border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    }
    .cont textarea{
        width: 90%;
        height: 80px;
        padding: 10px;
        border: 1px solid #f8f8f2;
        border-radius: 5px ;
        background-color: #f1f1ec;
    
    }
    .rad{
        padding-left: 30px;
        margin-bottom: 10px;
        height: 40px;
    }
    .rad input{
     
        font-size: 20px;
    }
    span{
        padding-left: 5px;
        font-size: 17px;
    }
    .btn{
        margin-left: 20px;
        margin-bottom: 60px;
    }
    .btn button{
        border: none;
        background-color: #3a6cf4;
        color: #f8f8f2;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
    }
    .m{
        color: red;
        padding-left: 30px;
    }
    .form-control{
        width: 90%;
        background-color: #f1f1ec;
    }
    .mb-3{
        padding-left: 30px;
    }
    .form-label{
        color: #000;
        font-weight: 500;
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    
}