
<div class="cardss">
    <div class="card1">
        <div class="text">
            <p class="question">
             Vous êtes un employeur ?
               </p>
               <p class="message">
                Resto Job il est la solution pour rapprocher avec  tous les profils qualifiés.
               </p>
           </div>
           <div class="buttons">
            <div class="button">
                <a href="/login">Mon Compte</a>
               </div>
               <div class="button">
                <a href="/signuppatron">creér un compte</a>
               </div>
           </div>
     
    </div>
    <div class="card2">
   <div class="text">
    <p class="question">
        Vous êtes un employé ?
       </p>
       <p class="message">
        Vous êtes dans le bon plan.
       </p>
   </div>
   <div class="buttons">
    <div class="button">
        <a href="/login">Mon Compte</a>
       </div>
       <div class="button">
        <a href="signup">creér un compte</a>
       </div>
   </div>
   

    </div>

</div>
<div class="ti">
   <p>Propres</p>
</div>
<section class="build" id="bas-de-page">
   
    <div>
        <h1>The best for the best!</h1>
        <p>Le domaine de la restauration classique  fait face a des défits parfois épineux comme le paperasse et les procédures usés de recrutement c'est pour cette raison que notre équipe ne cesse plus de bosser pour améliorer et développer cette coté fragile en proposant des solutions fiables et lucides comme par exemple le rapprochement des employés et des employeurs sur notre espace innovant et pratique sur Resto-job qui est un site d'embauche qui vise le domaine de la restaurations et qui  favorise a l'éradiction du chômage tout en gardant le professionnalisme.Resto-job est une application à but lucratif et productif a la fois.</p>
 
        </div>
    <img src="assets/propre.png" alt="">
 
    </section>
    <button class="btn_style section_btn" ><a href="https://www.google.com/gmail" target="_blank">Contactez nous</a></button>


