<app-header></app-header>
<section class="container">
    <div class="profil">
    <div class="head">
        <div class="image">
            <img [src]="url" alt="">
            <div class="icon">

                <a href="https://www.google.tn/maps/place/{{emp.gouvernerat}}" target="_blank"><i class='bx bxs-map pen'></i></a>
            </div>
        </div>
        <div class="nom">
            <p>{{emp.nom}}</p>
        </div>
    </div>
    <div class="info">
        <div class="p1">
            <div class="input">
                <label for="#">Numéro de téléphone</label>
                <p>{{emp.num}}</p>
            </div>
            <div class="input">
                <label for="#">Email</label>
                <p>{{emp.mail}}</p>
            </div>
        </div>
    
 
      
      
        </div>
      

    </div>
 
 
</section>
<app-footer></app-footer>

