section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}
.image{
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: rgb(132, 164, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    height: 800px;
    width: 600px;
  padding-right: 40px;
    padding-top: 380px;

}
.form{
    height: 100%;
    width: 100%;
  padding-top: 10px;
padding-left: 250px;
}
.titre{
    padding-left: 700px;
}
.titre h1{
    color: #3a6cf4;
    font-weight: 700;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}
.donne.p1{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    font-weight: 700;
    color: black;
}
.btn{
   
    border: none;

}
.btn button{
    background-color: #3a6cf4;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: .5s;
    color: white;
}
.btn button i{
  color: white;
  font-size: 30px;
}
.btn button:hover{
    background-color: #4d84e2;
}




.m{
    color: red;

  
}
.cinetnom{
    display: flex;
    justify-content: space-between;

}
.email input{
    margin-top: 10px;
    margin-bottom: 10px;
width: 500px;
background-color: #f1f1ec;
border: 1px solid #f8f8f2;
border-radius: 10px;
height: 45px;
padding: 10px;
font-weight: 500;
}
.cin input{
    margin-top: 10px;
    margin-bottom: 10px;
background-color: #f1f1ec;
border: 1px solid #f8f8f2;
border-radius: 10px;
height: 45px;
padding: 10px;
font-weight: 500;
}
.cin select{
    margin-top: 10px;
    margin-bottom: 10px;
background-color: #f1f1ec;
border: 1px solid #f8f8f2;
border-radius: 10px;
height: 45px;
padding: 10px;
font-weight: 500;
width: 220px;
}
.titre {
margin-top: 5px;
}
.titre span{
    color: black;
}
.circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.circle{
  background-color: #f1f1ec;
    width: 140px;
    height: 140px;
    border-radius: 50%;
border: #3a6cf4 1px solid;
margin: 20px;
}
.upload{
    color: #3a6cf4;
    margin-top: 40px;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 500;
   
    display: inline-block;
}
.head{
    display: flex;
    padding-left: 100px;
    
}
.file{
    color: #3a6cf4;
    padding-top: 90px;
}
.pp{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:696px) {
   
    section{
        width: 90%;
        height: 100vh;
        display: block;
    }
    .image{
        width: 0px;
        height:0px;
    }
    .image img{
        height: 0px;
        width: 0px;
 
    }
    .form{
        height: 100%;
        width: 100%;
      padding-top: 10px;
   padding-left: 10px;
   margin-left: 10px;
    }
    .titre{
        margin-left: 10px;
        padding-left: 150px;
    }
   
    .titre h1{
     
        color: #3a6cf4;
        font-weight: 700;
    }
    form{
        display: flex;
        height: 100%;
        width: 100%;
      padding-left: 10px;
      margin-left: 10px;
  
    }
    .donne .p1{
        display: block;
        padding-left: 10px;
      margin-left: 10px;
    }
    label{
        font-weight: 700;
        color: black;
    }
    .btn{
  margin-left: 10px;
        border: none;
        padding-left: 60px;
    
    }
    .btn button{
        background-color: #3a6cf4;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 10px;
        transition: .5s;
        color: white;
    }
    .btn button i{
      color: white;
      font-size: 30px;
    }
    .btn button:hover{
        background-color: #4d84e2;
    }
    .m{
        color: red;
    
      
    }
    .cinetnom{
        display: block;
      
    
    }
    .email input{
        margin-top: 10px;
        margin-bottom: 10px;
    width: 300px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    }
    .cin input{
        margin-top: 10px;
        margin-bottom: 10px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    width: 300px;
    font-weight: 500;
    }
    .cin select{
        margin-top: 10px;
        margin-bottom: 10px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    width: 300px;
    }
    .titre {
    margin-top: 5px;
    }
    .titre span{
        color: black;
    }
    .circle img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .circle{
      background-color: #f1f1ec;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    border: #3a6cf4 1px solid;
    margin: 20px;
    }
    .upload{
        color: #3a6cf4;
        margin-top: 40px;
    
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 1em;
        font-weight: 500;
       
        display: inline-block;
    }
    .head{
        display: flex;
  padding-left: 10px;
  margin-left: 10px;
        
    }
    .file{
        color: #3a6cf4;
        padding-top: 90px;
    }
    .pp{
        display: flex;
     
    }
    .sp{
     
        color: red;
    }
    
}
@media screen and (min-width:695px) and (max-width:1300px) {
    section{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
    
    }
    .image{
        width:0px;
        height: 0px;
     
    }
    .image img{
        height:0px;
        width: 0px;
 

    }
    .form{
        height: 100%;
        width: 100%;
      padding-top: 10px;
    padding-left: 100px;
    }
    .titre{
        padding-left: 200px;
    }
    .titre h1{
        color: #3a6cf4;
        font-weight: 700;
    }
    
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    
    }
    .donne.p1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    label{
        font-weight: 700;
        color: black;
    }
    .btn{
        padding-left: 120px;
        border: none;
    
    }
    .btn button{
        background-color: #3a6cf4;
        width: 110px;
        height: 50px;
        border: none;
        border-radius: 10px;
        transition: .5s;
        color: white;
    }
    .btn button i{
      color: white;
      font-size: 30px;
    }
    .btn button:hover{
        background-color: #4d84e2;
    }
    
    
    
    
    .m{
        color: red;
    
      
    }
    .cinetnom{
    display: block;
    
    }
    .email input{
        margin-top: 10px;
        margin-bottom: 10px;
    width: 300px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    }
    .cin input{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    }
    .cin select{
        margin-top: 10px;
        margin-bottom: 10px;
    background-color: #f1f1ec;
    border: 1px solid #f8f8f2;
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    width: 300px;
    }
    .titre {
    margin-top: 5px;
    }
    .titre span{
        color: black;
    }
    .circle img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .circle{
      background-color: #f1f1ec;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    border: #3a6cf4 1px solid;
    margin: 20px;
    }
    .upload{
        color: #3a6cf4;
        margin-top: 40px;
    
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 1em;
        font-weight: 500;
       
        display: inline-block;
    }
    .head{
        display: flex;
     padding-left: 5px;
        
    }
    .file{
        color: #3a6cf4;
        padding-top: 90px;
    }
    .pp{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sp{
        margin-left: 550px;
        color: red;
    }
    
}